*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blog{
    width: 100%;
    background-color: hsl(0, 0%, 98%);
    padding-bottom: 100px;
}
.blog-title{
    width: 100%;
    font-size: 35px;
    padding-left: 250px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.blogs{
    display: flex;
    gap: 20px;
    padding-left: 250px;
    padding-right: 50px;
}
.currency{
    width: 100%;
    height: 215px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.restaurant{
    width: 100%;
    /* height: 250px; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.plane{
    width: 100%;
    /* height: 250px; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.confetti{
    width: 100%;
    /* height: 250px; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.hed{
    background-color: white;
    padding: 20px 20px 40px 20px;
}
.title{
    color: hsl(233, 8%, 62%);
    font-size: 20px;
    padding-bottom: 10px;
}
.titles{
    font-size: 26px;
    padding-bottom: 15px;
    cursor: pointer;
}
.titles:hover{
    color: lightgreen;
    transition: 0.9s;
}
.texty{
    font-size: 18px;
    color: hsl(233, 8%, 62%);
}
@media screen and (max-width:900px) {
    .blogs{
        width: 100%;
        flex-direction: column;
        padding:2px 40px;
    }
    .blog{
        width: 100%;
    }
    .blog-title{
        width: 100%;
        font-size: 35px;
        text-align: center;
        padding: 10px 40px;
    }
    .fig{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .title{
        font-size: 15px;
    }
    .titles{
        font-size: 18px;
    }
    .texty{
        font-size: 15px;
        color: hsl(233, 8%, 62%);
        text-align: left;
    }
}